body {
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    max-width: 70%;
    margin: 40px auto;
    padding: 20px;
    background-color: #fdf6e3;
    color: #073642;
    position: relative;
}

.content {
    display: flex;
    padding: 20px;
    box-shadow: 0 0px 20px rgba(0,0,0,0.1);
}

.line-numbers {
    color: #002b36;
    text-align: right;
    padding-right: 20px;
    border-right: 1px solid #ddd;
    margin-right: 20px;
    user-select: none;
}

.line-number {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

h1, h2 {
    color: #859900;
    margin-bottom: 1rem;
    font-size: 1.8rem;
}

p {
    margin: 0.5rem 0;
}

a {
    color: #6c71c4;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 1200px) {
    body {
        max-width: 100%;
        paddding: 0;
        margin: 0;
    }

    .content {
        width: 100%;
        margin: 0;
        padding: 0;
        box-shadow: 0 0 0;
    }

    .line-number {
        font-size: 1.4rem;
    }

    h1 {
        font-size: 2.9rem;
    }

    h2 {
        font-size: 2.2rem;
    }

    p, ul li {
        font-size: 1.4rem;
        line-height: 1.6;
    }

    a {
        font-size: 1.4rem;
    }
}
